/*公用*/
.comWidth{width: 1000px;margin: 0 auto}
.leftArea{float: left;}
.rightArea{float: right;}
/*topBar*/
.topBar{background: #F7F7F7;height: 31px;line-height: 31px}
.collection{padding-left:19px;font-weight: bold;background: url(../images/1.png) left center no-repeat ;}
.topBar a:hover{color: red;}
/*logo*/
.logoBar{height: 85px;background-color: #1D7AD9;}
.logo{float: left;padding-left:41px;padding-top: 13px;}
.search_box{width: 430px;float:left;padding-top: 23px;padding-left: 185px;}
.search_text{width: 350px;height:35px;line-height:35px;float: left;
	padding: 0 5px;background-color: #FFF;}
.search_btn{width: 70px;height: 35px;float: right;font-size: 14px;font-family: "Microsoft YaHei","微软雅黑";background: #FF8C00;color: #FFF}
/*购物车*/
.shopCar{margin-right:59px;float:right;width: 145px;height: 35px;margin-top: 23px;background-color: #FF8C00;font:14px/35px "Microsoft YaHei","微软雅黑";color: #FFF;}
.shopText{float:left;width: 87px;height: 35px;border-right:#E27A00 solid 1px;background: url(../images/2.png) 10px center no-repeat;text-indent:40px;}
.shopNum{float:left;width:27px;height:35px;text-align:right;padding-right:29px;background:url(../images/3.png) 33px center no-repeat;}
/*导航*/
.navBox{background: #1369C0;height: 35px;}
.shopClass{width: 190px;float: left;position: relative;}
.shopClass h3{text-align: center;line-height: 35px;color: #FFF;}
.nav{float: left;line-height: 35px;}
.nav,.shopClass h3{font-family:"Microsoft YaHei","微软雅黑";}
.nav li{float:left;}
.nav a{display:inline-block;padding:0 35px;color: #FFF;}
.nav .active{background-color:#4593FD;}
/*商品弹出列表*/
.shopClass_show{background-color:#4593FD;position: absolute;left: 0;top:35px;width: 100%}
.shopClass_item{padding:14px 10px;border-bottom: 1px solid #3487F2;
	border-top: 1px solid #5AA1FE;}
.shopClass_item dt{height: 22px;background: url(../images/6.png) right no-repeat;}

.shopClass_item .b{font:14px/1 "Microsoft YaHei","微软雅黑";}
.shopClass_item a{display:inline-block;margin-right:10px;color: #FFF}
.shopClass_item .aLink{line-height:20px;width:48px;height:20px;text-decoration: underline;background:url(../images/5.png)left center no-repeat;display: inline-block;text-align: center;}
.shopClass_item dd a{font:12px;color: #C2D9F8;}
/*弹出清单*/
.shopClass_list{width: 568px;height: 378px;position: absolute;left: 190px;top: 35px;border:1px solid #ccc;}
.shopClass_cont{padding:0 20px;}
.shopList_item{padding:10px 0;border-bottom: #ccc 1px solid;}
.shopList_item dt{color: #4b87d9;height: 24px;line-height: 24px;font-weight: bold;}
.shopList_item dd{padding-left: 68px;line-height: 24px;margin-top: -24px;}
.shopList_item a{margin-right: 12px;}
.shopLinks{padding:15px 0;}
.shopLinks a{color: #FFF;background-color: #2785e6;display:inline-block;height: 26px;line-height: 26px;padding:0 14px 0 8px;
 margin-right: 10px;}
.shopLinks span{width: 11px;height: 7px;display: inline-block;background:url(../images/6.png)left center no-repeat;
margin-left: 7px;}

/*底部*/
/*.footBar{height: 224px;margin-top: 500px;background: #d4d4d4;color: black; }
.f-box{width:715px;margin-left: 167px;background: red;padding:56px 0 50px 0;text-align: center;}
.f-box li{display: inline-block;}
.f-nav{margin-bottom: 10px;}
.f-pic{width:586px;background: blue;}
*/
/*banner部分*/
.banner{margin-bottom: 15px;}
.banner_bar{width: 810px;height: 326px;float: right;overflow:hidden;position: relative;}
.imgBox{width: 1620px;height: 326px;position: absolute;left: 0;top: 0;}
.imgBox li{float: left;}
.imgBox img{width: 810px;height: 326px;display: block;}
.imgNum{position: absolute;left: 0;bottom: 15px;width: 100%;text-align: center;}
.imgNum a{display: inline-block;width: 20px;height: 5px;background: #FFF;margin:0 3px;}
.imgNum .active{background: #FF7700;}

/*商品标题*/
.shopTit{height: 44px;font-family:;line-height: 44px;}
.shopTit h3{font-size: 24px;}
.shopTit .icon{width: 44px;height: 44px;display: inline-block;background: url(../images/10.png) left top no-repeat;}