/*公用*/
.comWidth{width: 1000px;margin: 0 auto}
.leftArea{float: left;}
.rightArea{float: right;}
/*topBar*/
.topBar{background: #F7F7F7;height: 31px;line-height: 31px}
.collection{padding-left:19px;font-weight: bold;background: url(../images/1.png) left center no-repeat ;}
.topBar a:hover{color: red;}
/*logo*/
.logoBar{height: 85px;background-color: #1D7AD9;}
.logo{float: left;padding-left:41px;padding-top: 13px;}
.search_box{width: 430px;float:left;padding-top: 23px;padding-left: 185px;}
.search_text{width: 350px;height:35px;line-height:35px;float: left;
	padding: 0 5px;background-color: #FFF;}
.search_btn{width: 70px;height: 35px;float: right;font-size: 14px;font-family: "Microsoft YaHei","微软雅黑";background: #FF8C00;color: #FFF}
/*购物车*/
.shopCar{margin-right:59px;float:right;width: 145px;height: 35px;margin-top: 23px;background-color: #FF8C00;font:14px/35px "Microsoft YaHei","微软雅黑";color: #FFF;}
.shopText{float:left;width: 87px;height: 35px;border-right:#E27A00 solid 1px;background: url(../images/2.png) 10px center no-repeat;text-indent:40px;}
.shopNum{float:left;width:27px;height:35px;text-align:right;padding-right:29px;background:url(../images/3.png) 33px center no-repeat;}
/*导航*/
.navBox{background: #1369C0;height: 35px;}
.shopClass{width: 190px;float: left;position: relative;}
.shopClass h3{text-align: center;line-height: 35px;color: #FFF;}
.nav{float: left;line-height: 35px;}
.nav,.shopClass h3{font-family:"Microsoft YaHei","微软雅黑";}
.nav li{float:left;}
.nav a{display:inline-block;padding:0 35px;color: #FFF;}
.nav .active{background-color:#4593FD;}
/*商品弹出列表*/
.shopClass_show{background-color:#4593FD;position: absolute;left: 0;top:35px;width: 100%}
.shopClass_item{padding:14px 10px;border-bottom: 1px solid #3487F2;
	border-top: 1px solid #5AA1FE;}
.shopClass_item dt{height: 22px;background: url(../images/6.png) right no-repeat;}

.shopClass_item .b{font:14px/1 "Microsoft YaHei","微软雅黑";}
.shopClass_item a{display:inline-block;margin-right:10px;color: #FFF}
.shopClass_item .aLink{line-height:20px;width:48px;height:20px;text-decoration: underline;background:url(../images/5.png)left center no-repeat;display: inline-block;text-align: center;}
.shopClass_item dd a{font:12px;color: #C2D9F8;}
/*弹出清单*/
.shopClass_list{width: 568px;height: 378px;position: absolute;left: 190px;top: 35px;border:1px solid #ccc;display: none;}
.shopClass_cont{padding:0 20px;}
.shopList_item{padding:10px 0;border-bottom: #ccc 1px solid;}
.shopList_item dt{color: #4b87d9;height: 24px;line-height: 24px;font-weight: bold;}
.shopList_item dd{padding-left: 68px;line-height: 24px;margin-top: -24px;}
.shopList_item a{margin-right: 12px;}
.shopLinks{padding:15px 0;}
.shopLinks a{color: #FFF;background-color: #2785e6;display:inline-block;height: 26px;line-height: 26px;padding:0 14px 0 8px;
 margin-right: 10px;}
.shopLinks span{width: 11px;height: 7px;display: inline-block;background:url(../images/6.png)left center no-repeat;
margin-left: 7px;}
/*banner部分*/
.banner{margin-bottom: 15px;}
.banner_bar{float: right;overflow:hidden;position: relative;}
.imgBox{position: absolute;left: 0;top: 0;}
.imgBox li{float: left;}
.imgBox img{display: block;}
.imgNum{position: absolute;left: 0;bottom: 15px;width: 100%;text-align: center;}
.imgNum a{display: inline-block;width: 20px;height: 5px;background: #FFF;margin:0 3px;}
.imgNum .active{background: #FF7700;}
.banner_big,.banner_big img{width: 810px;height: 326px;}
.banner_big .imgBox{width: 1620px;height: 326px}
.banner_sm, .banner_sm img{width: 190px;height: 400px;}
.banner_sm .imgBox{width: 380px;height: 400px;}
/*商品标题*/
.shopTit{height: 44px;font-family:;line-height: 44px;margin-bottom: 15px;}
.shopTit h3{font-size: 24px;float: left;font-weight: normal;padding-left: 15px;}
.shopTit .icon{width: 44px;height: 44px;background: url(../images/10.png) left top no-repeat;float: left;}
.more{float: right;font-family: "宋体"}
.more:hover{text-decoration: underline;}
/*商品列表*/
.shopList{margin-bottom:15px;}
.shopList .leftArea{width: 190px}
.shopList .rightArea{width: 808px;border: #999 solid 1px;border-bottom: #ff7201 solid 3px;height: 396px;overflow: hidden;}
/*商品列表-右侧*/
.shopList_top,.shopList_sm{margin-right: -4px;}
.shop_item{width: 202px;border-right:#999 solid 1px;border-bottom: #999 solid 1px;height: 279px;text-align: center;font-family: "Microsoft-YaHei","微软雅黑" ;float: left;}
.shop_img{height: 218px;}
.shop_img img{width: 100%;height: 218px;display: block;}
.shop_item h3{font-size: 16px}
.shop_item p{font-size: 14px;color: #ff7300;line-height: 21px;}
/*右侧底部*/
.shopItem_sm{width: 202px;border-right:#999 solid 1px;height: 116px;float: left;}
.shopItem_smImg{width: 95px;height: 95px;text-align: center;float: left;}
.shopItem_smImg img{width: 95px;height: 95px}
.shopItem_text{padding-top: 28px;width: 100px;float:left;}
.shopItem_text p{color: #ff7300}
.shopItem_text h3{font-family:"Microsoft-YaHei","微软雅黑";font-size: 16px;font-weight: normal;color: #181818;line-height: 30px;}
/*底部*/
.footer{text-align: center;background: #d4d4d4;line-height: 24px;padding:50px 0;margin-top: 25px;}
.foot{list-style-type: none;}
.foot li {display: inline-block;}
.foot a{border-right: 1px #222 solid;color:#000;padding-right: 5px;}
.foot a:hover{color:#F60;}
.web{padding-top: 30px;}
.web img {margin:0 12px;}
